
body a {
    color: inherit;
}

/* STYLE HEADER ------------------------------------------- */

header {
    height: 60px;
}

header .fa-magnifying-glass {
    pointer-events: none;
}

/* STYLE SIDEBAR ------------------------------------------- */

.sidebar {
    top: 60px;
    height: calc(100vh - 60px);
    background-color: rgba(5,29,51,255);
    background-image: url(../img/sidebar-bg.png);
    background-position: cover;
}

.sidebar  {
    height: calc(100vh - 60px);
}

.sidebar ul {
    min-width: 60px;
}


@media (min-width: 992px) {
    .sidebar {
        width: 180px;
    }
}

/* STYLE MAIN ------------------------------------------- */
main  {
    margin-left: 60px;
    min-height: calc(100vh - 60px);
}


@media (min-width: 992px) {
    main {
        margin-left: 180px;
    }
}







/* DEBUG ------------------------------------------- */



.debug main {
    border: dashed black 1px;
    background-color: rgb(4, 119, 81);
}