
body a {
    color: inherit;
}


.my-pill {
    line-height: 1rem;
    padding: .130rem .50rem;
    padding-bottom: .35rem;
    border-radius: 20px;
    white-space: nowrap;
}

.my-pill.blue {
    background-color: rgba(25,91,184,255);
}

.my-pill.green {
    background-color: rgba(41,143,98,255);
}

.my-pill.yellow {
    background-color: rgba(254,192,24,255);
}

.my-pill.red {
    background-color: rgba(219,53,68,255);
}

.btn.my-pill-round {
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 4em; /*or you could use 4em*/
    line-height: 1.5rem;
    padding: .120rem .40rem;
    padding-bottom: 0.3rem;
    background-color: rgba(25,91,184,255);
    border-radius: 100%;
    white-space: nowrap;
}

/* STYLE HEADER ------------------------------------------- */

header {
    height: 60px;
    background-color: white;
    z-index: 1;
}

header .fa-magnifying-glass {
    pointer-events: none;
}

/* STYLE SIDEBAR ------------------------------------------- */

.sidebar {
    top: 60px;
    height: calc(100vh - 60px);
    background-color: rgba(5,29,51,255);
    background-image: url(../img/sidebar-bg.png);
    background-position: cover;
}

.sidebar ul {
    min-width: 60px;
}


@media (min-width: 992px) {
    .sidebar {
        width: 180px;
    }
}

/* STYLE MAIN ------------------------------------------- */

main  {
    margin-left: 60px;
    min-height: calc(100vh - 60px);
}

@media (min-width: 992px) {
    main {
        margin-left: 180px;
    }
}

/* STYLE HERO ------------------------------------------- */

.hero {
    background-color: rgba(32,114,230,255);
}

.hero .nuovo-studente button {
    padding-bottom: 0.5rem;
}

/* STYLE PROSSIME CLASSI --------------------------- */

.prossime-classi .tag-icon {
    height: 2rem;
}

.prossime-classi .stato {
    line-height: .85rem;
    font-size: .85rem;
}

.prossime-classi .detail {
    width: 5.6rem;
}

.prossime-classi .azioni button {
    border: solid grey 2px;
    padding: .175rem .55rem;
}

/* STYLE FAQ --------------------------- */

.faq .accordion-item {
    border: 0;
}

.faq .accordion-item:not(:last-child) {
    border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}

/* STYLE UTENTI ATTIVI --------------------------- */

.utenti-attivi a {
    color: #0d6efd;
}

/* ANIMATIONS --------------------------------------- */

.sidebar a div:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
}



/* DEBUG ------------------------------------------- */



.debug main {
    border: dashed black 1px;
    background-color: rgb(4, 119, 81);
}